h1 {
    color: wheat;
    width: 20%;
    margin: 20px auto;
    text-align: center;
}

h1 .line {
    height: 7px;
    background-color: yellow;
    border-radius: 6px;
}

body {
    background-color: black;
}

.wrapper {
    display: flex;
    justify-content: space-around;
    margin-top: 60px;
}

.block {
    display: inline-block;
    /* width: 460px; */
    border: 2px solid gold;
    border-radius: 18px;
    text-align: center;
    color: aliceblue;
    width: 400px;
    height: 420px;
}

.block img {
    width: 93%;
    border-radius: 20px;
    height: 300px;
    justify-content: space-around;
}

.header{
    display: flex;
    justify-content: space-around;
}
.header li {
    list-style: none;
    color: white;
}

.header li a {
    text-decoration: none;
    color: wheat;
}
h3{
    text-align: center;
  }
  h3{
    text-align: center;
  }
  h3{
    text-align: center;
  }
  p{
    text-align: center;
  }
  


